.DrinksGrid {
  margin: 10px 10px;
  width: 100%;
}

.DrinkItem {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  min-width: 150px;
  max-width: 250px;
  height: 150px;
  border-radius: 25px;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
}