.display {
  // border: 1px solid #000;
  overflow-y: scroll;
  max-height: 425px;
}

.total-cart {
  position: absolute;
  margin-top: 45px;
  top: 60%;
  // width: 100px;
  text-align: center;
}

.checkout-buttons {
  position: absolute;
  bottom: 0;
  padding-right: 10px;
  padding-bottom: 10px;
}

.item-count-text,
.total-amount,
.total-amount-text,
.item-count {
  margin-left: 15px;
}
