.button {
  margin-top: 5px;
  border: 1px solid #000000;
}
.Efectivo {
  // background-color: #0886ff;
  width: 90%;
}

.Tarjeta {
  // background-color: #ec410d;
  width: 90%;
}

.Invitacion{
  // background-color: khaki;
  width: 90%;
}
.consumida{
  // background-color: #a06161;
  width: 45%;
  margin-left: 5px;
  margin-right: 5px;
}
.clear{
  // background-color: lightblue;
  width: 43%;
  margin-right: 5px;
}

