.header {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  // a {
  //   display: flex;
  //   margin-right: 10px;
  //   padding: 5px 10px;
  // }
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
